.img1{
    @media (max-width: 710px){
        display: block;
        
    }
    width: 91%;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 50px auto 50px;
    .panier{
        display: flex;
        align-items: baseline;
        p{
            margin-left: 30px;
            font-size: 1.5rem;
            color: rgb(191,150,96);
            font-weight: 900;
            
        }
     input{
        background:black;
        font-weight: 600;
        padding: 20px 10px;
        color: white;
        border: none;
        transition: 0.1s;
        margin-top: 20px;
        cursor: pointer;
        &:hover{
            background:rgb(191,150,96);
            color: white;
        }
    }   
    }
    
    img{
width: 75%;
left:0;
    }
    .container-img1{
        text-align: left;
        #balise{
            color :rgb(197,152,96);
            border-radius : 55px;
            font-size : calc(0.7rem + 0.8vw);
            
        } 
        .addBasket{
            left:0;
            margin-top:30px;
            font-weight: 800;
        }
    }
    h1{
        font-size:calc(1rem + 3vw);
            font-family: 'rockwell';
            letter-spacing: 5px;
            font-weight: 400;
            padding-bottom: 20px;
            @media (max-width: 710px){
                text-align: center;
            }
    }
    p{
        padding-bottom:20px ;
        @media (max-width: 710px){
            text-align: center;
        }
    }
    .form-inputs{
       display: flex;
       flex-direction:column;
       width: 45%;
       
    select
    ,input{
        margin:20px 0;
        border: none;
        border-bottom: 1px solid #b6b6b6;
    }
   
    }

}

#text{
    color:white;
}
