// @font-face {
//   font-family: "Allura";
//   src: url(../fonts/Allura-Regular.ttf);
// }

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: "abril";
  src: url(../fonts/AbrilFatface-Regular.ttf);
}
@font-face {
  font-family: "cookie";
  src: url(../fonts/Cookie-Regular.ttf);
}
@font-face{
  font-family: 'rockwell';
  src:url(../fonts/Rockwell.ttf)
}
@font-face{
  font-family: 'dragor';
  src:url(../fonts/dragor.ttf)
}

$font1: Allura,
cursive;
$font2: Poppins,
serif;
$font3: Roboto,
serif;
$white:white;
$black: #21201e;
$grey: rgb(182, 182, 182);
$color1: rgb(166, 114, 69);
$fontTitre:dragor,serif;
@mixin childCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin parentCenter {
  width: 85%;
  margin: 0 auto;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection{
  background: rgb(197,152,96);
  color: white;
}

body {
  text-align: center;
  background: white;
  list-style: none;
  

  a ,a:visited{
    text-decoration: none;
    color:black;
    font-size:calc(0.6rem + 0.5vw);
    list-style: none;
    font-family:$font2;
    &:hover{
      color:#e8b230;
      
      
    }
  }
  
}